@import 'variables.scss';
.tag_input {
	width: 100%;
	min-height: $height;
	padding: $padding;
	margin: 1% 0%;
    font-size: $font_size;
	box-sizing: border-box;
	border-bottom: 1px solid var(--background-l3);
	background-color: var(--background-l3);
	color: var(--primary-color);
	border-radius: $border_radius;
	& div {
		display: inline-block;
		padding: 0.5% 1%;
		margin: 0 0.5%;
		background-color: (var(--primary-color));
		color: var(--background-l3);
		border-radius: 3px;
		& div {
			display: flex;
		}
		& .x {
			display: inline-block;
			margin-left: 5%;
			color: red;
			cursor: pointer;
		}
	}
	& input {
		border: none;
		width: 100%;
		background-color: var(--background-l3);
		height: $height;
		&:focus {
			outline: none;
		}
	}
	&:focus-within {
		border-bottom: 1px solid var(--primary-theme-color);
	}
}
