.options {
	position: relative;
	display: flex;
	width: 98%;
	margin: 0 1%;
	height: 5%;
	& .left {
		display: flex;
		overflow-y: hidden;
		overflow-x: auto;
		width: 90%;
	}
	& .right {
		display: flex;
		justify-content: end;
		width: 10%;
	}
}
